# Alternative Database format to connect via URL
# DATABASE_URL=

DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_USERNAME=example
DATABASE_PASSWORD=example
DATABASE=example_db
DATABASE_SYNCRONIZE=false
DATABASE_RUN_SEEDS=true
DATABASE_SSL_REJECT_UNAUTHORIZED=false
DATABASE_ENABLE_SSL_CONFIGURATION=false
JWT_SECRET=NO_USE_THIS_SECRET_IN_PROD_ITS_ONLY_EXAMPLE
JWT_ISSUER=nest-ecommerce

CORS_ORIGIN=http://localhost:5173
